mysqlclient
mysql-python
mysql-connector
Flask
flask_sqlalchemy
google-cloud-storage
pytesseract
tesseract
# tesseract-ocr
pandas
numpy
opencv-python
tensorflow
python-dotenv
werkzeug
matplotlib
Pillow
gunicorn